# Label Noise

In [1]:
import sys
DIR_ROOT = '../../'
sys.path.append(DIR_ROOT)
from src.noise import *
import pandas as pd

# Seleciona o dataset
DATASET_NAME = 'iris'
df = pd.read_csv(f'{DIR_ROOT}data/{DATASET_NAME}_train.csv')

# Copia os dados originais e separa
X_train = df.drop(columns=['target'])
y_train = df['target'].to_frame()

## 10% Label Noise

In [2]:
y_train_noisy = label_noise(y_train, p=0.1)
df_compare = pd.DataFrame({'orig': y_train.iloc[:,0], 'noisy': y_train_noisy.iloc[:,0]})
df_compare[df_compare['orig'] != df_compare['noisy']]
df_compare = df_compare[df_compare['orig'] != df_compare['noisy']]
df_compare

=== AUDIT: label_noise ===
p (fraction per class): 0.1, random_state: 42
Flips per class:
  - 2: 4
  - 0: 4
  - 1: 4
Total labels changed: 12

     orig  noisy
5       2      0
20      1      2
41      2      1
67      2      0
74      1      2
78      0      1
82      1      2
83      0      2
84      0      1
87      2      1
99      1      2
102     0      2

## Saving the Results

In [ ]:
# Gera o novo df com a combinação dos ruídos e salva na pasta certa.
new_df = X_train.copy()
new_df['target'] = y_train_noisy

new_df.to_csv(f'{DIR_ROOT}data/noise/label/{DATASET_NAME}_train.csv', index=False)

# Mantém os dados de teste intactos e copia para a pasta nova
df_test = pd.read_csv(f'{DIR_ROOT}data/{DATASET_NAME}_test.csv')
df_test.to_csv(f'{DIR_ROOT}data/noise/label/{DATASET_NAME}_test.csv', index=False)