In [1]:
import sys
DIR_ROOT = '../../'
sys.path.append(DIR_ROOT)
from src.noise import *
import pandas as pd

# Seleciona o dataset
DATASET_NAME = 'imdb'
df = pd.read_csv(f'{DIR_ROOT}data/{DATASET_NAME}_train.csv')

# Copia os dados originais e separa
X_train = df.drop(columns=['target'])
y_train = df['target'].to_frame()

In [2]:
# Aplica label noise e mostra um df das diferenças. Caso padrão, p = 10%
y_train_noisy = label_noise(y_train)
df_comparacao = pd.DataFrame({
    'orig': y_train['target'], 
    'noisy': y_train_noisy['target']
})
df_comparacao = df_comparacao[df_comparacao['orig'] != df_comparacao['noisy']]
df_comparacao

=== AUDITORIA: label_noise ===
p (fração por classe): 0.1, random_state: 42
Flips por classe:
  - positive: 1875
  - negative: 1875
Total de rótulos alterados: 3750

           orig     noisy
21     negative  positive
36     negative  positive
40     negative  positive
47     positive  negative
53     positive  negative
...         ...       ...
37464  negative  positive
37474  positive  negative
37479  positive  negative
37482  negative  positive
37485  positive  negative

[3750 rows x 2 columns]

In [3]:
# Gera o novo df com a combinação dos ruídos e salva na pasta certa.
new_df = X_train.copy()
new_df['target'] = y_train_noisy
new_df.to_csv(f'{DIR_ROOT}data/noise/label/{DATASET_NAME}_train.csv', index=False)

# Mantém os dados de teste intactos e copia para a pasta nova
test_df = pd.read_csv(f'{DIR_ROOT}data/{DATASET_NAME}_test.csv')
test_df.to_csv(f'{DIR_ROOT}data/noise/label/{DATASET_NAME}_test.csv', index=True)